<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zy_996map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zy_996map.Properties.Settings>
            <setting name="txt_input" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_ver" serializeAs="String">
                <value>1.29542.3</value>
            </setting>
            <setting name="path_input" serializeAs="String">
                <value>F:\wa7eDoc\图片\download\bbb\resource\map\156.jpg</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mapname" serializeAs="String">
                <value>156</value>
            </setting>
            <setting name="path_output" serializeAs="String">
                <value>F:\wa7eDoc\图片\download\bbb\resource_cut\map</value>
            </setting>
        </zy_996map.Properties.Settings>
    </userSettings>
</configuration>